transformers>=4.40.0
trl>=0.8.1
peft>=0.10.0
bitsandbytes>=0.43.1
accelerate>=0.29.3
sentence-transformers>=2.7.0
datasets>=2.19.0
wandb>=0.16.6
torch>=2.2.0
scipy>=1.13.0
numpy>=1.26.4
pyyaml>=6.0.1
python-dotenv>=1.0.1
